<% include partials/header %>
<h1>SIGN UP </h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="username@domain.com" name="email">
    <input type="password" placeholder="password" name="password">
    <button>SUBMIT</button>
</form>
<% include partials/footer %>